body {
    background-image: linear-gradient(to bottom right, #e0ffcd, #fdffcd, #ffebbb, #ffcab0);
}

.plate {
    border-color: black;
    display: grid;
    width: 455px;
    height: 455px;
    border: 1px solid black;
    /* margin-right: 10%; */
}

h1{
    text-align: center;
    margin: 15px auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    margin: 30px;
}

button{
    width: 150px;
}

.color{
    margin-top: 50px;
}

.color{
    display: flex;
    flex-direction: row;
}

#picker, #size{
    width: 100%;
}

#picker{
    margin-left: 5px;
}