*{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #e0ffcd, #fdffcd, #ffebbb, #ffcab0);
}

.plate {
    border-color: black;
    display: grid;
    width: 455px;
    height: 455px;
    border: 1px solid black;
}

h1{
    text-align: center;
    margin: 15px auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    margin: 30px;
}

button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
}

.color{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    background-color: white;
    height: 30px;
}

#picker, #size{
    width: 100%;
    /* border: 1px solid black; */
}

#picker{
    margin-left: 5px;
    /* background-color: ; */
}

input[type='range']{ 
    accent-color: black; 
}